html{
  font-family: 'Oswald', sans-serif;
/* changes the font of the website, also is included in the header of every page. */
    color: darkslategrey;
    padding:10px;}
.menu{text-align: center;
background: rgba(255, 255, 255, 0.8);
  padding: 12px;
padding: 15px;
  margin: 0 23px;
margin-bottom:20px;
}
 /* this makes the menu that I have made align to the middle. also changes the colour of the text for the whole page. adds a background to the text too.*/
body{background-image: linear-gradient(yellow, black); background-repeat: no-repeat;}
/* a gradient effect as the background of my website, based off of the bands aesthetics right now*/
.image_home{text-align: center;
padding: 15px; }

.About{
  background: rgba(255, 255, 255, 0.5);
  padding: 12px;
padding: 15px;
  margin: 0 23px;
margin-bottom:20px;
text-align: left;
}
.spotify{
  background: rgba(255, 255, 255, 0.5);
  padding: 12px;
padding: 15px;
  margin: 0 23px;
margin-bottom:20px;
text-align: left;
}
#quote{text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 12px;
padding: 15px;
  margin: 0 23px;
margin-bottom:20px;
}
.column {
  display: flex;
  flex-direction: column;
}
.album{
  background: rgba(255, 255, 255, 0.5);
  padding: 12px;
padding: 15px;
  margin: 0 23px;
margin-bottom:20px;
text-align: left;
}
.image{text-align: center;
}
.merch{
  background: rgba(255, 255, 255, 0.5);
  padding: 12px;
padding: 15px;
  margin: 0 23px;
margin-bottom:20px;
text-align: left;
}
.video{
  padding: 12px;
padding: 15px;
}
